<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.104.21" targetFramework="net472" />
  <package id="AWSSDK.S3" version="3.3.110.19" targetFramework="net472" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net472" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net472" />
  <package id="CefSharp.Common" version="75.1.143" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="75.1.143" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net472" />
  <package id="Google.Api.CommonProtos" version="1.7.0" targetFramework="net472" />
  <package id="Google.Api.Gax" version="2.10.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Grpc" version="2.10.0" targetFramework="net472" />
  <package id="Google.Api.Gax.Rest" version="2.10.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.42.0" targetFramework="net472" />
  <package id="Google.Apis.Translate.v2" version="1.42.0.875" targetFramework="net472" />
  <package id="Google.Cloud.Translation.V2" version="1.2.0" targetFramework="net472" />
  <package id="Google.Cloud.Vision.V1" version="1.7.0" targetFramework="net472" />
  <package id="Google.LongRunning" version="1.1.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net472" />
  <package id="Grpc.Auth" version="1.22.0" targetFramework="net472" />
  <package id="Grpc.Core" version="1.22.1" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="1.22.1" targetFramework="net472" />
  <package id="ImageProcessor" version="2.7.0.100" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.0" targetFramework="net472" />
  <package id="MicrosoftExpressionInteractions" version="3.0.40218.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="sqlite-net-pcl" version="1.6.292" targetFramework="net472" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net472" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net472" />
</packages>